<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Employee code</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Designation</th>
                            <th scope="col">salary</th>
                            <th scope="col">ph No</th>
                            <th scope="col">Email ID</th>
                            <th scope="col">Company Website</th>
                            <th scope="col">Year od Exp</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Archana</td>
                            <td>Software Engg</td>
                            <td>25000</td>
                            <td>7568798650</td>
                            <td>Archana@12</td>
                            <td>drdrrtd@</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Full stack devp</td>
                            <td>67000</td>
                            <td>123456788</td>
                            <td>jacob@4545</td>
                            <td>fdfgd@</td>
                            <td>3</td>

                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Joel</td>
                            <td>Front end devp</td>
                            <td>30000</td>
                            <td>125467588</td>
                            <td>Joel@4125</td>
                            <td>hgvhjv@</td>
                            <td>4</td>

                          </tr>

                          <tr>
                            <th scope="row">4</th>
                            <td>Aswathy</td>
                            <td>Back end devp</td>
                            <td>28000</td>
                            <td>921343355</td>
                            <td>Aswathy@1235</td>
                            <td>fdfgd@</td>
                            <td>5</td>

                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Anjali</td>
                            <td>Data Analyst</td>
                            <td>35000</td>
                            <td>787875623</td>
                            <td>Anjali@2022</td>
                            <td>gyutdqwf@</td>
                            <td>1</td>

                          </tr>

                          <tr>
                            <th scope="row">5</th>
                            <td>Anjali</td>
                            <td>Data Analyst</td>
                            <td>35000</td>
                            <td>787875623</td>
                            <td>Anjali@2022</td>
                            <td>gyutdqwf@</td>
                            <td>1</td>

                          </tr>

                          <tr>
                            <th scope="row">6</th>
                            <td>Anandhu</td>
                            <td>Data Analyst</td>
                            <td>55000</td>
                            <td>7871234786</td>
                            <td>Anandhu@1996</td>
                            <td>aewwaesf@</td>
                            <td>5</td>

                          </tr>
                          
                            
                        </tbody>
                      </table>

                </div>

        </div>
    </div>
</div>
